<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: rebeccapurple;
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <p>Paragraph text. <span style="color: green">Style</span></p>
    <a href="https://google.com" target="_blank">Link text</a>
    <img alt="picture" src="http://placekitten.com/200/300">
    <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
    </ul>
    <ol>
        <li>List item]] 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="text">
        <input required type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea placeholder="Text" rows="5" cols="50">12345</textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item1</td>
            <td>Item2</td>
            <td>Item3</td>
        </tr>
        </thead>
        <tbody>
         <tr>
            <td>Item1</td>
            <td>Item2</td>
            <td>Item3</td>
        </tr>
         <tr>
            <td>Item1</td>
            <td>Item2</td>
            <td>Item3</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>